body {
  font-family: sans-serif;
  background-color: #fff;
  color: #222;
}

/* Add this below your general styles */
.project-block {
  margin-bottom: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

hr {
  margin: 50px 0;
  border: none;
  border-top: 2px dashed #bbb;
}
